.Container{
    position: absolute;
    top: 18%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    text-align: center;
    color: white;
}
body ,html {
    background-color: black;
    width: 100%;
}