.Project-Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-width: 500px;
}
@media (max-width: 600px){
    .Project-Cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        min-width: 250px;
    }
}